html {
    margin: 0;
    box-sizing: border-box;
    background-color: #151924;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.header {
    display: inline-flex;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;

    z-index: 10;
    width: 100%;

    background-color: #303030;
}

h1 {
    cursor: default;
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: orange;
}


.recipes {
    display: flex;
    justify-content: space-between;

    position: absolute;
    top:0;
    left:0;

    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100%;
}


h2 {
    font-family: Helvetica, sans-serif;
    color: white;
    font-weight: 1000;
    font-size: 5em;
    letter-spacing: auto;
    display:none;
}


.ctn-recipe {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    opacity: 50%;

    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: ease-out .2s;
}

.ctn-recipe:hover{
    cursor: pointer;
    opacity: 100%;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}


.lasagne {
    background-image: url('../medias/lasagne.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.galette {
    background-image: url('../medias/galette.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pasta {
    background-image: url('../medias/pasta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}